@model IEnumerable<CM.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
  
@using (Html.BeginForm("Search","Index"))
{

        @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
}

 
<div ng-app="IndexApp" ng-controller="Index">
   
    <table>
        <tr ng-repeat="x in ca">
            <td>{{ x.Name }}</td>
            <td>{{ x.Descn}}</td>
        </tr>
    </table>

    </div>

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/controller.js"></script>