@model IEnumerable<CM.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
  
@using (Html.BeginForm("Search","Index"))
{

        @Html.TextBox("SearchString") <br />
        <input type="submit" value="Search" />
}

 
<table>
   
    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelitem => item.CategoryId) </td>
            
            <td>
                @Html.ActionLink(item.Name, "Cate", new
           {
               id = item.CategoryId
            })
        </td>
            <td>  @Html.DisplayFor(modelitem => item.Descn)</td>
           
            
        </tr>
    }
</table>
















<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/controller.js"></script>